@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #F9F5FF;
    --color-accent: #FF0000;
    --font-sans: "Inter", sans-serif;
}

body {
    background-color: var(--color-primary);
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}